{% load static %}
<section class="section-1 text-center text-light p-0">

    <video class="valo-bg container-fluid p-0 m-mt-0" autoplay loop muted plays-inline>
        <source src="{% static 'src/vid/valorant.mp4'%}">
    </video>

    <div class="container h-100 d-flex p-0">

        <div class="pt-5 text-sm-center">

            <!-- texts -->

            <div class="w-100 px-5 d-block">

                <h1 class="font-50px">I AM <span class="text-warning">PATRICK JOHN</span></h1>
                <p>I am the developer of this website, this is a game portfolio website.</p>
                <button class="btn btn-primary btn-lg text-center">About us</button>

            </div>

        </div>

    </div>

</section>

<section class="section-2 bg-valo-red text-light p-5">
    <div class="container">
        <div class="d-block justify-content-between align-items-center">
            <h3 class="mb-5">
                SignUp:
            </h3>
            <div class="input-group news-input w-auto">
                <input type="text" class="form-control" placeholder="Enter Email">
                <button class="btn btn-dark btn-lg" type="button">Send</button>
            </div>
        </div>
    </div>
</section>

<section class="p-5 bg-dark">
    <div class="container">
        <div class="row text-start text-center">

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/valorant.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/lol.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/palworld.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/star-rail.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/terraria.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <a href="">
                    <div class="card bg-game-box">
                        <div class="">
                            <img class="col-md w-50" src="{% static 'src/img/mc.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>