{% load static %}
<section class="section-2 bg-valo-red text-light p-5">
    <div class="container">
        <div class="d-block justify-content-between align-items-center">
            <h3 class="mb-5">
                SignUp:
            </h3>
            <div class="input-group news-input w-auto">
                <input type="text" class="form-control" placeholder="Enter Email">
                <button class="btn btn-dark btn-lg" type="button">Send</button>
            </div>
        </div>
    </div>
</section>