{% load static %}
<section class="p-5 bg-dark">
    <div class="container">
        <div class="row text-start text-center">

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/valorant.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/lol.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/palworld.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/star-rail.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <div class="card bg-game-box">
                    <div class="">
                        <img class="col-md w-50" src="{% static 'src/img/terraria.png' %}" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md move-up-hover mb-3">
                <a href="">
                    <div class="card bg-game-box">
                        <div class="">
                            <img class="col-md w-50" src="{% static 'src/img/mc.png' %}" alt="">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>