{% load static %}
<section class="section-1 text-center text-light p-0">

    <video class="valo-bg container-fluid p-0 m-mt-0" autoplay loop muted plays-inline>
        <source src="{% static 'src/vid/valorant.mp4'%}">
    </video>

    <div class="container h-100 d-flex p-0">

        <div class="pt-5 text-sm-center">

            <!-- texts -->

            <div class="w-100 px-5 d-block">

                <h1 class="font-50px">I AM <span class="text-warning">PATRICK JOHN</span></h1>
                <p>I am the developer of this website, this is a game portfolio website.</p>
                <button class="btn btn-primary btn-lg text-center">About us</button>

            </div>

        </div>

    </div>

</section>